{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <section class="form-container">
        <div class="user-form">
          <div class="form-header">
            <h2 class="text-center w-75 mx-auto fs-3">{% trans "Reset Password" %}</h2>
          </div>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
          <div class="p-5">
            <p class="fs-5">Update: Due to issues with our email service, automatic password resets are temporarily disabled.</p>
            <p class="fs-5">Contact us directly and we will send you your password, from there you can change it manually from the sign in form</p>
            <a href="{% url 'myaccount:contact' %}"><button class="btn btn-lg" type="submit">Contact Us</button></a>

            <!-- The below code can be uncommented once the sites amazon web services account is moved out of sandbox mode -->
            
            <!-- <form class="login" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-lg" type="submit" value="{% trans 'Reset My Password' %}">Reset My Password</button>
                <p class="fs-5 mt-1">
                    Having trouble resetting your password? 
                    <a href="{% url 'myaccount:contact' %}">Contact Us</a>
                </p>
            </form> -->
          </div>
        </div>
      
      </section>

{% endblock %}
