{% extends "base.html" %}

{% block content %}

<section class="container account-section w-50">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-black">My Account</h2>
        </div>
    </div>

    <ul class="nav nav-tabs text-center mt-5" id="profileTab" role="tablist">
        <li class="nav-item col-6" role="presentation">
            <button class="nav-link active fs-5 w-100 text-black" id="bookings-tab" data-bs-toggle="tab"
                data-bs-target="#booking-tab-pane" type="button" role="tab" aria-controls="booking-tab-pane"
                aria-selected="true">My Bookings</button>
        </li>
        <li class="nav-item col-6" role="presentation">
            <button class="nav-link fs-5 w-100 text-black" id="account-tab" data-bs-toggle="tab"
                data-bs-target="#account-tab-pane" type="button" role="tab" aria-controls="account-tab-pane"
                aria-selected="false">Account Info</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">

        <!-- Booking content for user -->
        <div class="tab-pane fade show active py-5" id="booking-tab-pane" role="tabpanel" aria-labelledby="booking-tab"
            tabindex="0">

            <h3>Any bookings you have can be managed in the table below:</h3>

            <div class="tab-pane fade show active" id="booking-tab-pane" role="tabpanel" aria-labelledby="booking-tab"
                tabindex="0">
            <div class="table-responsive-sm">
                <table class="table fs-5 mb-5">
                    <thead class="bg-b text-white">
                        <tr>
                            <th>Name:</th>
                            <th>Event:</th>
                            <th>Count:</th>
                            <th>User:</th>
                            <th>Manage:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        <tr>
                            <td>{{ booking.first_name }} {{ user.last_name }}</td>
                            <td>{{ booking.event.title }}</td>
                            <td>{{ booking.booking_count }}</td>
                            <td>{{ booking.user }}</td>
                            <td>
                                <a href="{% url 'bookings:update-booking' pk=booking.pk %}" class="text-black fs-5"><i
                                        class="fa-solid fa-pen"></i></a>
                                <a href="{% url 'bookings:delete-booking' pk=booking.pk %}" class="text-black fs-5"><i class=" fa-solid fa-xmark"></i></i></a>
                            </td>
                        </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
    
    <!-- Account info tab -->
    <div class="text-black tab-pane fade pt-5 d-none" id="account-tab-pane" role="tabpanel" aria-labelledby="account-tab"
        tabindex="0">
    <div class="table-responsive">
        <table class="table fs-5">
            <thead class="bg-b text-white">
                <tr>
                    <th>Username:</th>
                    <th>First Name:</th>
                    <th>Last Name:</th>
                    <th>Email:</th>
                    <th>Password:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>**********</td>
                </tr>
            </tbody>
        </table>
    </div>

        <p class="fs-5">You can changed your password yourself, but for other account changes send us an email and
            we will complete them for you:</p>
        <a href="{% url 'account_change_password' %}" class="btn btn-lg">Change Password</a>
        <a href="{% url 'myaccount:contact' %}" class="btn btn-lg">Contact Us</a>
    </div>

</section>

{% endblock %}