{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The George Orwell Pub</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/132ee46fd9.js" crossorigin="anonymous"></script>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <!-- Data table plugin -->
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css"/>


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
   
</head>

<body class="d-flex flex-column h-100">

    <header>

        <div class="container-fluid p-0 position-fixed bg-white">

            <nav id="blackNav" class="navbar navbar-expand-lg">
                <div class="container px-5">

                    <!-- Collapse toggle -->
                    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#otherNavbar" aria-controls="otherNavbar" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                        </span>
                    </button>

                    <!-- Navbar links -->
                    <div class="col-5 collapse navbar-collapse" id="otherNavbar">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item me-3">
                                <a class="nav-link pr-5" aria-current="page" href="{% url 'home' %}">home</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link pr-5" href="{% url 'events:events' %}">events</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" aria-current="page" href="#">menu</a>
                            </li>
                            <!-- Adjusts the account link text if user is admin -->
                            {% if user.is_superuser %}
                            <li class="nav-item me-3">
                                <a class="nav-link" href="{% url 'myaccount:admin' %}">admin</a>
                            </li>
                            {%  elif user.is_authenticated %}
                            <li class="nav-item me-3">
                                <a class="nav-link" href="{% url 'myaccount:account' %}">account</a>
                            </li>
                            {% endif %}
                            <!-- Adjusts the link to login/logout depending on user authentication -->
                            {% if user.is_authenticated %}
                            <li class="nav-item me-3">
                                <a class="nav-link" href="{% url 'account_logout' %}" data-bs-toggle="modal" data-bs-target="#signOutModal">sign-out</a>
                            </li>
                            {% else %}
                            <li class="nav-item me-3">
                                <a class="nav-link" href="{% url 'account_login' %}">sign-in</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                    <div class="col-2">
                        <div class="logo-sm mx-auto"></div>
                    </div>

                    <div class="col-3">
                        <h1 class="text-black fs-4 d-inline">The George Orwell</h1>
                    </div>

                    <div id="socialMedia" class="col-6 col-lg-2 text-end social-media">
                        <a class="d-inline-block ms-2" aria-current="page" href="#"><i class="fa-brands fa-square-twitter"></i></a>
                        <a class="d-inline-block" href="#"><i class="fa-brands fa-square-facebook"></i></a>
                        <a class="d-inline-block" aria-current="page" href="#"><i class="fa-brands fa-square-instagram"></i></a>
                    </div>

                </div>
            </nav>

        </div>

    </header>

    {% block content %}
        <!-- All other content Goes here -->
    {% endblock content %}

    <!-- Footer -->
    <footer class="footer mt-auto py-3 d-flex align-items-center justify-content-end">
        <a href="https://github.com/KippAD" class="text-white fs-5 flex-grow-1 text-start ms-5"><p class="mb-0">Designed by Kipp Archer-Dennis <i class="fa-brands fa-github"></i></p></a>
        <p class="text-white fs-5 text-end me-5 mb-0">Animal Farm Co. <i class="fa-regular fa-copyright"></i></p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>

    <!-- Sign out bootstrap Modal -->
    <div class="modal fade" id="signOutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="signOutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content user-form w-100">
            <div class="modal-header form-header text-center">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Are You Sure</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <p class="fs-5">
                Are you sure that you want to log out?
            </p>

            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="{% url 'myaccount:logout' %}"><button type="submit" value="confirm" class="btn btn-primary">Sign-out</button></a>    
</body>

</html>