{% extends "base.html" %}
{% block content %}

<section class="form-container">
    {% if user.is_authenticated %}
    <div class="user-form w-50">
        <div class="form-header ">
            <h2 class="text-center w-75 mx-auto fs-4">Book an Event:</h2>
        </div>
        <div class="p-5">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
        </div>
    </div>
    {% else %}
    <!-- Msg when url is accessed by a non super user -->
    <div style="height: 80vh; padding: 30vh;">
        <h2 class="text-black">Please Login</h2>
        <p>To make a booking you must be logged in.</p>
        <a class="nav-link" href="{% url 'account_login' %}"><button class="btn btn-large">Sign In</button></a>
    </div>

    {% endif %}
</section>

{% endblock %}