{% extends "base.html" %}
{% block content %}

<section class="form-container">
    {% if user.is_staff %}
    <div class="user-form w-25">
        <div class="form-header ">
            <h2 class="text-center w-75 mx-auto fs-4">Delete Event</h2>
        </div>
        <div class="p-5">
            <form method="post">
                <p class="fs-5">
                    Are you sure that you would like to delete this event permanently? Remember that you can
                    change the post to a draft in the edit menu to remove it from the events display.
                </p>
                {% csrf_token %}
                <a href="{% url 'myaccount:admin' %}" class="btn btn-lg">Return to Admin</a>
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
        </div>
    </div>
    {% else %}
    <!-- Msg when url is accessed by a non super user -->
    <div style="height: 80vh; padding: 30vh;">
        <h2 class="text-black">Oops</h2>
        <p>It appears you are in the wrong place!</p>
        <a class="nav-link" href="{% url 'home' %}"><button class="btn btn-large">Home </button></a>
    </div>

    {% endif %}
</section>

{% endblock %}