{% extends "base.html" %}
{% block content %}

<section class="form-container">
    {% if user.is_authenticated %}
    <div class="user-form w-25">
        <div class="form-header ">
            <h2 class="text-center w-75 mx-auto fs-4">Delete Booking</h2>
        </div>
        <div class="p-5">
            <form method="post">
                <p class="fs-5">
                    Are you sure that you would like to delete this booking permanently? You can update the details from within the account page.
                </p>
                {% csrf_token %}
                {% if user.is_staff %}
                <a href="{% url 'myaccount:admin' %}"><button class="btn btn-lg d-inline-block">Return to Admin</button></a>
                {% else %}
                <a href="{% url 'myaccount:account' %}"><button class="btn btn-lg d-inline-block">Return to Account</button></a>
                {% endif %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
        </div>
    </div>
    {% else %}
    <!-- Msg when url is accessed by a non super user -->
    <div style="height: 80vh; padding: 30vh;">
        <h2 class="text-black">Oops</h2>
        <p>It appears you are in the wrong place!</p>
        <a class="nav-link" href="{% url 'home' %}"><button class="btn btn-large">Home </button></a>
    </div>

    {% endif %}
</section>

{% endblock %}