{% extends "base.html" %}
{% block content %}

<!--Contact form-->
<section class="form-container">
    <div class="user-form mb-5">
        <div class="form-header ">
            <h2 class="text-center w-75 mx-auto fs-4">Contact Us:</h2>
        </div>
        <div class="p-5">
            <p class="text-center fs-5">Send us a message and we'll get back to you as soon as we can!</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}