{% extends "base.html" %}

{% block content %}

<section class="form-container">
   <div class="user-feedback-card card text-center">
      <div class="card-header bg-b">
        <h4 class="fs-2 text-white">Success!</h4>
      </div>
      <div class="card-body">
        <h5 class="card-title fs-4">Message Delivered</h5>
        <p class="card-text fs-5">We've recieved your message and we'll get back to you as soon as we can</p>
        <a href="{% url 'events:events' %}" class="btn btn-lg">Return to Events</a>
      </div>
      <div class="card-footer text-muted bg-b">
      </div>
    </div>
</section>

{% endblock %}