{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<section class="form-container">
    {% if user.is_authenticated %}
    <div class="user-form mb-5">
        <div class="form-header ">
            <h2 class="text-center w-75 mx-auto fs-4">Create an Event:</h2>
        </div>
        <div class="p-5">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
        </div>
    </div>
    {% else %}
    <!-- Msg when url is accessed by a non super user -->
    <div style="height: 80vh; padding: 30vh;">
        <h2 class="text-black">We're sorry...</h2>
        <p>This page can only be accessed by the site admin</p>
    </div>

    {% endif %}
</section>

{% endblock %}