{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<section class="form-container">
    <div class="user-form w-50">
        <div class="form-header ">
            <h2 class="text-center w-75 mx-auto">Create an Event:</h2>
        </div>
        <div class="p-5">
            <form method="post">
                {{ event_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
        </div>
    </div>
</section>


{% endblock %}