{% extends "base.html" %}
{% block content %}

<section class="events-section d-flex flex-column justify-content-start align-items-center">
    <!-- Button only displayed if superuser is logged in  -->
    {% if user.is_superuser %}
    <div class="mx-auto">
        <a href="{% url 'events:create-event' %}"><button class="btn btn-lg" type="button">Create Event <i
                    class="fa-solid fa-plus"></i></button></a>
    </div>
    {% endif %}

    <!-- Renders collapsible elements of events -->
    {% for event in object_list %}
    <div class="event card" data-bs-toggle="collapse" id="event-collapse" href="#collapse-{{ event.slug }}"
        role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="card-body d-flex p-0 text-black">
            <div class="event-date d-flex justify-content-center align-items-center fs-4 p-2 text-white">
                <div>
                    {{ event.date | date:"d M y" }}
                </div>
            </div>
            <div class="container p-3">
                <h3 class="event-title d-inline fs-4">{{ event.title }}</h3>
                <p class="event-address fs-5 m-0">The George Orwell, Rue de Victoire, 34140 - Montpellier</p>
                <div class="collapse" id="collapse-{{ event.slug }}">
                    <div>
                        <div class="d-inline">
                            <p class="card-text fs-5">{{ event.description | striptags }}</p>
                            <a href="{% url 'events:book-event' slug=event.slug %}"><button type="button"
                                    id="bookingBtn" class="btn btn-lg" data-bs-toggle="collapse" data-bs-target>Book
                                    Now</button></a>
                        </div>
                        <!-- Buttons only displayed if superuser is logged in  -->
                        <div class="d-inline">
                            {% if user.is_superuser %}
                            <a href="{% url 'events:update-event' slug=event.slug%}"><button type="button"
                                    class="event-button ignore-collapse btn btn-warning fs-5" data-bs-toggle="collapse"
                                    data-bs-target><i class="fa-solid fa-pen-to-square"></i></button></a>
                            <!-- Anchor link without href prevents collapsible from being triggered -->
                            <a class="text-black" data-bs-toggle="collapse" data-bs-target><button type="button"
                                    class="btn btn-danger fs-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    <i class="fa-regular fa-circle-xmark"></i></a>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="schedule-icons d-flex justify-content-between align-items-end mt-3 w-75">
                    <p class="m-0 fs-5"><i class="fa-solid fa-euro-sign"></i> {{ event.price }}</p>
                    <p class="m-0 fs-5"><i class="fa-solid fa-clock"></i> {{ event.time }}</p>
                    <p class="m-0 fs-5"><i class="fa-solid fa-user"></i> 32/{{ event.capacity }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Modal displayed with confirmation option to delete an event -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content user-form w-100">
                <div class="modal-header form-header text-center">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Are You Sure</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fs-5">
                        Are you sure that you would like to delete this event permanently? Remember that you can change
                        the post to a draft in the edit menu to remove it from the events display.
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="post" action="{% url 'events:delete-event' slug=event.slug %}">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" value="confirm" class="btn btn-primary">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</section>
{% endblock %}