{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The George Orwell Pub</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/132ee46fd9.js" crossorigin="anonymous"></script>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <!-- Loads django messages-->
        {% if messages %}
            {% for message in messages %}
                <div class="text-center fs-5 alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="container-fluid p-0">

            <!-- Hero image and overlay -->
            <div id="hero-image" class="h-100">
                <div id="hero-overlay" class="h-100">

                    <nav id="homeNav" class="navbar navbar-expand-lg">
                        <div class="container p-5">

                            <!-- Collapse toggle -->
                            <button class="navbar-toggler custom-toggler order-lg-1" type="button"
                                data-bs-toggle="collapse" data-bs-target="#indexNavbar" aria-controls="indexNavbar"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon">
                                </span>
                            </button>

                            <div id="socialMedia" class="col-6 col-lg-3 text-end social-media order-lg-3">
                                <a href="https://twitter.com/home" class="d-inline-block" aria-current="page"
                                    target="_blank" rel="noopener"
                                    aria-label="Link to twitter (link opens in new tab)"><i
                                        class="fa-brands fa-square-twitter"></i></a>
                                <a href="https://www.facebook.com/" class="d-inline-block" target="_blank"
                                    rel="noopener" aria-label="Link to facebook(link opens in new tab)"><i
                                        class="fa-brands fa-square-facebook"></i></a>
                                <a href="https://www.instagram.com/" class="d-inline-block" aria-current="page"
                                    target="_blank" rel="noopener"
                                    aria-label="Link to instagram (link opens in new tab)"><i
                                        class="fa-brands fa-square-instagram"></i></a>
                            </div>

                            <!-- Navbar links -->
                            <div class="collapse navbar-collapse" id="indexNavbar">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item me-3">
                                        <a class="nav-link pr-5" aria-current="page" href="#">home</a>
                                    </li>
                                    <li class="nav-item me-3">
                                        <a class="nav-link pr-5" href="{% url 'events:events' %}">events</a>
                                    </li>
                                    <!-- Adjusts the account link text if user is admin -->
                                    {% if user.is_superuser %}
                                    <li class="nav-item me-3">
                                        <a class="nav-link" href="{% url 'myaccount:admin' %}">admin</a>
                                    </li>
                                    {% elif user.is_authenticated %}
                                    <li class="nav-item me-3">
                                        <a class="nav-link" href="{% url 'myaccount:account' %}">account</a>
                                    </li>
                                    {% endif %}
                                    <!-- Contact form -->
                                    <li class="nav-item me-3">
                                        <a class="nav-link pr-5" href="{% url 'myaccount:contact' %}">contact</a>
                                    </li>
                                    <!-- Adjusts the link to login/logout depending on user authentication -->
                                    {% if user.is_authenticated %}
                                    <li class="nav-item me-3">
                                        <a class="nav-link" href="{% url 'account_logout' %}" id="signOut"
                                            data-bs-toggle="modal" data-bs-target="#signOutModal">sign-out</a>
                                    </li>
                                    {% else %}
                                    <li class="nav-item me-3">
                                        <a class="nav-link" href="{% url 'account_login' %}">sign-in</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>

                        </div>
                    </nav>

                    <!-- Hero overlay text and logo -->

                    <div class="container d-flex flex-column justify-content-center h-75 mt-5">
                        <div class="row text-center">
                            <h1 class="fs-1 mt-l-5 pt-l-5">The George Orwell</h1>
                            <h2 class="fs-2">Montpellier</h2>
                            <span class="golden-line mx-auto"></span>
                        </div>
                        <div class="row py-5 mb-5">
                            <div class="logo mx-auto"></div>
                        </div>
                        <nav class="nav">
                            <a class="fs-1 py-5 mb-5 text-white mx-auto" href="#about-text"><i
                                    class="fa-regular fa-circle-down"></i></a>
                        </nav>
                    </div>

                    <!-- Location of social media icons in smaller viewports -->
                    <div id="social-media-container"></div>

                </div>
            </div>
        </div>

    </header>

    <!-- About section -->
    <div class="container-fluid" id="about-panel">
        <div class="row">
            <div class="py-5 col">
                <div id="about-text" class="w-50 mx-auto">
                    <h2 class="subheading fs-3">About Us</h2>
                    <span class="w-75 golden-line"></span>

                    <p class="fs-5 py-2 text-white">Welcome to the George Orwell. We are an English styled pub based in
                        Montpellier in the beautiful south of France. Join us in our l'ecusson premises for a ice cold
                        beverage in the Herault heat.
                        Our beer garden is a perfect place to kick back and relax and enjoy the our popular ciders
                        imported from the UK.</p>
                    <a href="{% url 'events:events' %}" class="btn btn-primary btn-lg">Events Schedule</a>
                </div>
            </div>
            <div class="col p-0" id="about-picture"></div>
        </div>
    </div>

    <!-- Card panels section -->
    <div id="cards-section" class="container-fluid p-5">

        <div class="row w-75 mx-auto">
            <h2 class="text-black subheading fs-3">Our Offer</h2>
            <span class="w-50 golden-line mb-5"></span>
        </div>

        <div class="row h-100 justify-content-center">

            <div class="col-12 col-sm-8 col-md-4 col-lg-3 mb-5">
                <div class="card h-100">
                    <div class="card-img"
                        style="background-image: url('https://res.cloudinary.com/dn8zjehza/image/upload/v1665831152/George%20Orwell%20Pub/beer-tap_k598in.jpg');">
                    </div>
                    <div class="card-body p-4">
                        <h5 class="card-title fs-4">Artisinal Beer</h5>
                        <p class="card-text fs-5 lh-sm">We serve a selection of artisinal beers and ciders from our
                            parent brewery Animal Farm. We extreme take pride in the quality of our products crafted by
                            the Master Brewers at the Animal Farm Brewery in nearby Pouzolles.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-8 col-md-4 col-lg-3 mb-5">
                <div class="card h-100">
                    <div class="card-img"
                        style="background-image: url('https://res.cloudinary.com/dn8zjehza/image/upload/v1665831151/George%20Orwell%20Pub/burger_siyzit.jpg');">
                    </div>
                    <div class="card-body p-4">
                        <h5 class="card-title fs-4">Authentic Food</h5>
                        <p class="card-text fs-5 lh-sm">Join us at the George Orwell to enjoy our award winning food - a
                            modern twist on english classics. Lunch and dinner served every day inside or out in the to
                            our beer garden. Sunday roast is not to be missed.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-8 col-md-4 col-lg-3 mb-5">
                <div class="card h-100">
                    <div class="card-img"
                        style="background-image: url('https://res.cloudinary.com/dn8zjehza/image/upload/v1665831151/George%20Orwell%20Pub/cheers_nb8tan.jpg');">
                    </div>
                    <div class="card-body p-4">
                        <h5 class="card-title fs-4">Weekly Events</h5>
                        <p class="card-text fs-5 lh-sm">Check our events schedule to find out whats's happening at the
                            pub. Pub quiz, blind test, language exchanges and poker nights every week. If you're new to
                            the area then there is no better way to meet new people!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Events carousel from bootstrap -->
    <div id="carouselEvent" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner container-fluid">
            {% for event in object_list %}
            <div class="carousel-item active d-flex justify-content-center align-items-center">
                <div id="event-carousel"
                    class="w-50 h-50 text-center d-flex  flex-column justify-content-center align-items-center">
                    <h2 class="fs-3">{{ event.title }}</h2>
                    <p class="text-white fs-5">Date: {{ event.date }}</p>
                    <p class="text-white fs-5">Price: {{ event.price }}</p>
                    <div>
                        <a href="{% url 'bookings:book-event' %}" class="btn btn-lg">Book Now</a>
                        <a href="{% url 'events:events' %}" class="btn btn-lg">All Events</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev fs-3" type="button" data-bs-target="#carouselEvent" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next fs-3" type="button" data-bs-target="#carouselEvent" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 d-flex align-items-center justify-content-end">
        <a href="https://github.com/KippAD" class="text-white fs-5 flex-grow-1 text-start ms-5" target="_blank">
            <p class="mb-0">Kipp Archer-Dennis <i class="fa-brands fa-github"></i></p>
        </a>
        <p class="text-white fs-5 text-end me-5 mb-0">Animal Farm Co. <i class="fa-regular fa-copyright"></i></p>
    </footer>

    <script src="{% static 'js/script.js' %}" type="application/json"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>

    <!-- Sign out bootstrap Modal -->
    <div class="modal fade" id="signOutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="signOut" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content user-form w-100">
                <div class="modal-header form-header text-center">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Are You Sure</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fs-5">
                        Are you sure that you want to log out?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{% url 'myaccount:logout' %}">
                        <button type="submit" value="confirm" class="btn btn-primary">Sign-out</button>
                    </form>
                </div>
            </div>
        </div>
</body>

</html>